h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

body {
    background-image: url(./imagens/terradeooo.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mar {
    height: 347px;
}