body {
    background-image: url(../imagens/Campo_da_Batalha_dos_Magos.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
}

#texto {
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
}

img {
    height: 300px;
}

p {
    width: 500px;
    text-align: center;
}


#botao:hover {
    cursor: pointer;
}