body {
    color: rgb(255, 255, 255);
    background-image: url(../imagens/Wizard.webp);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: -2px 1px 0px rgba(255, 184, 0, 1);
    background-color: rgba(14, 14, 14, 0.8);
    text-align: center;
    font-size: 50px;
    width: 1200px;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
}

.caixa {
    background-color: rgba(247, 0, 255, 0.808);
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    box-shadow: 0px 3px 43px 35px rgba(0, 0, 0, 0.61);
    margin-top: 30px;
}

#contxt {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: -3px 2px 5px rgb(0, 4, 255);
}

li {
    text-align: left;
}

#start {
    background-color: white;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.61);

}

#start:hover {
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(247, 0, 255);
    color: white;
}